:root{

}

body{
    height: 100vh;
    border: 1px solid #ff0000;
    overflow: hidden;
    margin: 0px;
}

.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    margin: auto;
    width: 75vw;
}

/* Header */

.left-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    flex: 1 0 auto;
}


/* Description */

.description{
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.right-description{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto
}

.image-description{
    display: flex;
    max-width: 400px;
    max-height: 200px;
    flex: 3 1 auto;
}

/* Information  */

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.boxes-of-info{
    display: flex;

}

.box{
    max-width: 150px;
}

/* Quote */

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.text-quote{
    display: flex;
    flex-direction: column;
}

.quote p{
    max-width: 510px;
    margin: 0;
}

.quote h5{
    margin-top: -4px;
    align-self: flex-end;
}

/* Call To Action */

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.call-right{

}

.call-left{

}

/* Footer */

.footer{
    display: flex;
    border: 1px solid red;
}